In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("merged_data.csv")

In [19]:
df.Revenue_x

0                                                       {}
1                                                       {}
2                                                       {}
3                                                       {}
4                                                       {}
                               ...
35069            {'Domestic': 5206, 'International': 5206}
35070                                                   {}
35071                                                   {}
35072    {'Domestic': 248343, 'International': 36381, '...
35073                                                   {}
Name: Revenue_x, Length: 35074, dtype: object

In [21]:
patternD = r'Domestic: (\d+)'
for dom in df.Revenue_x:
    print(dom.extract(patternD, expand=False))

AttributeError: 'str' object has no attribute 'str'

In [17]:
# Define a regular expression pattern to extract the domestic revenue
patternD = r'Domestic: (\d+)'
patternI = r'International: (\d+)'
patternT = r'Total: (\d+)'


# Use str.extract to create a new column for domestic revenue
df['domestic_revenue'] = df['Revenue_x'].str.extract(patternD, expand=False).astype(float)
df['international_revenue'] = df['Revenue_x'].str.extract(patternI, expand=False).astype(float) 
df['total_revenue'] = df['Revenue_x'].str.extract(patternT, expand=False).astype(float) 

# Drop the original 'Revenue_x' column
df = df.drop('Revenue_x', axis=1)

# Display the resulting DataFrame
print(df)

       Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0 Running Time  \
0                 0         36430       36430  1 hr 33 min
1                 1         37987       37987  1 hr 20 min
2                 2         41414       41414   1 hr 6 min
3                 3         41415       41415        5 min
4                 4         41416       41416        4 min
...             ...           ...         ...          ...
35069         35069         76842       76842  1 hr 36 min
35070         35070         76843       76843  1 hr 35 min
35071         35071         76844       76844        4 min
35072         35072         76845       76845  1 hr 31 min
35073         35073         76846       76846          NaN

                                               Genres  \
0                                        Comedy Crime
1                              Drama Mystery Thriller
2                  Documentary Fantasy History Sci-Fi
3                Animation Comedy Family Sci-Fi Short
4      Adventure Animation Comedy Family Sci-Fi Short
...                                               ...
35069                                           Drama
35070                         Action Mystery Thriller
35071                                           Short
35072                                           Drama
35073                                     Documentary

                                                 Title_x MPAA  \
0                               For Money or Love (2020)  NaN
1                                      Blind Turn (2012)  NaN
2                                   Alien Highway (2013)  NaN
3                           Panic in the Mailroom (2013)  NaN
4                                 Training Wheels (2013)  NaN
...                                                  ...  ...
35069            The Integrity of Joseph Chambers (2022)  NaN
35070                                     Egregor (2021)  NaN
35071                          To My Dying Mother (2023)  NaN
35072                                     Fremont (2023)  NaN
35073  We Were Famous, You Don't Remember: The Embarr...  NaN

      Domestic Distributor  Domestic Opening       Earliest Release Date  ...  \
0                      NaN               NaN                         NaN  ...
1                      NaN               NaN                         NaN  ...
2                      NaN               NaN                         NaN  ...
3                      NaN               NaN                         NaN  ...
4                      NaN               NaN                         NaN  ...
...                    ...               ...                         ...  ...
35069                  NaN               NaN  July 6, 2023 (Netherlands)  ...
35070                  NaN               NaN                         NaN  ...
35071                  NaN               NaN                         NaN  ...
35072      Music Box Films           21033.0  August 25, 2023 (Domestic)  ...
35073                  NaN               NaN                         NaN  ...

       Revenue_y Runtime                                            Title_y  \
0            0.0    93.0                                  For Money or Love
1            0.0    76.0                                         Blind Turn
2            0.0    66.0                                      Alien Highway
3            0.0     5.0                              Panic in the Mailroom
4            0.0     4.0                           Minions: Training Wheels
...          ...     ...                                                ...
35069        0.0    96.0                   The Integrity of Joseph Chambers
35070        0.0    87.0                                      The New Order
35071        0.0     4.0                                 To My Dying Mother
35072   258668.0    92.0                                            Fremont
35073        0.0    96.0  We Were Famous, You Don't Remember: The Embarr...

       movie_id                                           cast_ids  \
0        852297  [3164775, 1569736, 3164777, 3164778, 3164779, ...
1         75594  [96624, 575673, 238354, 575674, 575675, 575676...
2        458775                                                 []
3        229405                                     [124747, 4495]
4        229408  [124747, 17743, 122851, 124750, 1265060, 12650...
...         ...                                                ...
35069    950161  [59671, 22123, 53259, 47296, 2176925, 1922620,...
35070    458662  [1776261, 1309702, 1083418, 7107, 2309944, 150...
35071   1179586                                                 []
35072   1048522  [3821130, 206905, 1224999, 2435268, 3578195, 3...
35073   1015765  [3673401, 3673402, 3673403, 1983746, 1386006, ...

                                                   order  \
0                                     [0, 1, 2, 3, 4, 5]
1                 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
2                                                     []
3                                                 [0, 1]
4                                  [0, 1, 2, 3, 4, 5, 6]
...                                                  ...
35069                           [0, 1, 2, 3, 4, 5, 6, 7]
35070                        [0, 1, 2, 3, 4, 5, 6, 7, 8]
35071                                                 []
35072  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
35073                           [0, 1, 2, 3, 4, 5, 6, 7]

                      director_ids domestic_revenue international_revenue  \
0                        [3164783]              NaN                   NaN
1                        [2670890]              NaN                   NaN
2      [1098980, 1822162, 1822163]              NaN                   NaN
3                [118713, 1218549]              NaN                   NaN
4               [1265058, 1265059]              NaN                   NaN
...                            ...              ...                   ...
35069                    [1141753]              NaN                   NaN
35070                    [2712188]              NaN                   NaN
35071                    [3364732]              NaN                   NaN
35072                    [1086529]              NaN                   NaN
35073                           []              NaN                   NaN

      total_revenue
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
35069           NaN
35070           NaN
35071           NaN
35072           NaN
35073           NaN

[35074 rows x 30 columns]

In [5]:
df.Revenue_y

0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
           ...
35069         0.0
35070         0.0
35071         0.0
35072    258668.0
35073         0.0
Name: Revenue_y, Length: 35074, dtype: float64