In [2]:
from tmdbv3api import TMDb
from tmdbv3api import Movie
from tmdbv3api.exceptions import TMDbException
import random
import pandas as pd
import csv
import numpy as np
from math import exp
import ast
tmdb=TMDb()
tmdb.api_key='9cf68f4c97c8f0cc6bb9646da389a808'

In [3]:
# Initialize csv file paths
csv_file_path= 'merged_data_mod_scores_filtered_US_release_year_star_scores_prod_scores_dir_scores.csv'
# Create DataFrames from both CSV files
df = pd.read_csv(csv_file_path)

In [4]:
# This function drops 2010-2012 data from our dataset, since we just needed it to calculate production and director scores.

In [6]:
#drop the rows from 2010-2012 we used to calculate scores
drop = df[df['Release Year'] < 2013]
df = df.drop(drop.index)

#drop categorical variables we aren't using
df = df.drop(columns = ['MPAA', 'TMDB ID', 'Running Time', 'Genres', 'Genre ID', 'IMDB Title', 'Domestic Distributor', 'Earliest Release Date', 'Genre Name', 'Production Company ID', 'Production Company Name', 'Release Date', 'TMDB Title', 'cast_ids', 'order', 'director_ids', 'Movie Contribution to Director and Production Scores', 'international_revenue', 'worldwide_revenue', 'Domestic Opening', 'Raw Star Scores', 'IMDB Budget', 'TMDB Budget', 
                        'IMDB Domestic Revenue', 'TMDB Revenue'])

#Question marks: domestic opening? Budget? Genre? IDs? 

df.head()

,MPAA,Domestic Opening,IMDB Budget,TMDB Budget,Genre ID,IMDB ID,TMDB Revenue,Runtime,TMDB ID,IMDB Domestic Revenue,...,Release Year,Raw Star Scores,Unweighted Star Score,Simple Weight Star Score,Log Weight Star Score,Exponential Weight Star Score,Total Director Score,Avg Director Score,Total Production Company Score,Avg Production Company Score
0,NaN,NaN,0,0,[99],tt2673812,0,83,163875,2241,...,2013,"[0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0.0,0.00000,0.000000,0,0.0,0,0.000000
1,R,8268908.0,35000000,56000000,"[53, 80, 18]",tt1235522,34737199,109,98357,19701164,...,2013,"[295, 158, 21, 0, 0, 0, 0, 0, 80, 0, 0, 0, 0, ...",554,470.0,459.47885,444.130435,68,68.0,557,61.888889
2,PG-13,30.0,0,0,[18],tt2515164,0,90,262357,134049,...,2013,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0.0,0.00000,0.000000,0,0.0,0,0.000000
3,PG-13,470109.0,0,0,"[18, 10752]",tt1390398,1553826,106,164184,1561962,...,2013,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0.0,0.00000,0.000000,0,0.0,0,0.000000
4,PG-13,NaN,0,7000000,"[878, 53]",tt1659216,257019,89,164331,257019,...,2013,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0.0,0.00000,0.000000,0,0.0,292,146.000000