>This code is responsible for constructing a dataframe for director scores based on revenue in movies directed and previous 2 years' director score

In [1]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\xylop\anaconda3\lib\site-packages (1.9.0)
Requirement already satisfied: requests in c:\users\xylop\anaconda3\lib\site-packages (from tmdbv3api) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\xylop\anaconda3\lib\site-packages (from requests->tmdbv3api) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\xylop\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\xylop\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\xylop\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.4)

In [5]:
from tmdbv3api import TMDb
from tmdbv3api import Movie
from tmdbv3api.exceptions import TMDbException
import random
import pandas as pd
import csv
import numpy as np
from math import exp
import ast
tmdb=TMDb()
tmdb.api_key='9cf68f4c97c8f0cc6bb9646da389a808'

In [3]:
# Initialize csv file paths
csv_file_path1='merged_data_mod_star_score.csv'   
# Create DataFrames from both CSV files
df1 = pd.read_csv(csv_file_path1)

>This next cell constructs the director dataframe of all unique director ids. For now, the star_score value is 0.

In [18]:
import pandas as pd
import ast  # Import the ast module
import numpy as np

# Create a DataFrame with unique director IDs
director_ids = []

for index, row in df1.iterrows():
    director_ids_str = row['director_ids']
    
    # Check for NaN values and skip them
    if pd.isna(director_ids_str):
        continue

    # Safely evaluate the content of 'director_ids' if it's not NaN
    director_ids += ast.literal_eval(director_ids_str)

unique_director_ids = list(set(director_ids))

# Create a list of years from 2011 to 2023
years = [str(year) for year in range(2011, 2024)]

# Initialize the data with zeros
data = {f'star_{year}': [0] * len(unique_director_ids) for year in years}
data['ids'] = unique_director_ids

# Create the 'output_df' DataFrame
df2 = pd.DataFrame(data)

# Reorder columns with 'ids' as the first column
df2 = output_df[['ids'] + [col for col in output_df.columns if col != 'ids']]

# Print the first few rows of the 'output_df' DataFrame for debugging
print(df2.head())

       ids  star_2011  star_2012  star_2013  star_2014  star_2015  star_2016  \
0   229378          0          0          0          0          0          0
1  1179651          0          0          0          0          0          0
2   229380          0          0          0          0          0          0
3        7          0          0          0          0          0          0
4        8          0          0          0          0          0          0

   star_2017  star_2018  star_2019  star_2020  star_2021  star_2022  star_2023
0          0          0          0          0          0          0          0
1          0          0          0          0          0          0          0
2          0          0          0          0          0          0          0
3          0          0          0          0          0          0          0
4          0          0          0          0          0          0          0

In [40]:
# Iterate through df1 to calculate director scores
for index, row in df1.iterrows():
    director_ids_str = row['director_ids']

    # Check for NaN values and skip them
    if pd.isna(director_ids_str):
        continue

    # Safely evaluate the content of 'director_ids' if it's not NaN
    director_ids = ast.literal_eval(director_ids_str)
    release_year = row['Release Year']
    merged_revenue = row['Merged Revenue']

    # Iterate through each director_id in the director_ids array
    for director_id in director_ids:
        # Find the corresponding row in df2
        df2_row = df2[df2['ids'] == director_id]

        if not df2_row.empty:
            director_score = df2_row[f'star_{release_year}'].values[0]

            # Calculate points for every million dollars in USD in directed movies
            if merged_revenue is not np.nan:
                director_score += (merged_revenue / 1000000) * 10

            # Assign the updated director score to the corresponding 'star_yyyy' column
            df2.loc[df2['ids'] == director_id, f'star_{release_year}'] = director_score
            
for director_id in df2['ids']:
    for column in df2.columns:
        if column.startswith("star_"):
            release_year = int(column.split("_")[1])
            if release_year > 2011:
                previous_year = release_year - 1
                year_before_previous = release_year - 2
                df2_row = df2[df2['ids'] == director_id]

                if not df2_row.empty:
                    director_score = df2_row[column].values[0]

                    # Calculate score from the previous year
                    previous_year_score = df2_row[f'star_{previous_year}'].values[0]
                    director_score += 0.7 * previous_year_score

                    # Calculate score from the year before the previous year
                    if release_year > 2012:
                        year_before_previous_score = df2_row[f'star_{year_before_previous}'].values[0]
                        director_score += 0.49 * year_before_previous_score

                    # Assign the updated director score to the corresponding 'star_yyyy' column
                    df2.loc[df2['ids'] == director_id, column] = director_score

In [41]:
# Create an output dataframe
df_output = df2
# Save to csv
df_output.to_csv('director_df.csv', index=False)

In [50]:
star_scores = []  # Create a list to collect director scores
for index, row in df1.iterrows():
    row_dir_info = row['director_ids']  # Extract director_ids array
    if not pd.isna(row_dir_info):  # Check for NaN
        row_dir_info = ast.literal_eval(row_dir_info)
    else:
        row_dir_info = []  # Set to an empty list if NaN
    star_scores_row = []
    for director_id in row_dir_info:
        release_date = row['Release Year']
        star_column_name = f'star_{release_date}'  # Create the corresponding column name
        dir_info_row = df2[df2['ids'] == director_id]  # Get the row containing the queried director id
        while star_column_name not in dir_info_row and release_date > df1['Release Year'].min():
            release_date -= 1
            star_column_name = f'star_{release_date}'  # Try the previous year
        star_score = dir_info_row[star_column_name].values[0] if star_column_name in dir_info_row else None  # Use the current year if the previous isn't available
        star_scores_row.append(star_score)
    star_scores.append(star_scores_row)

# Create an output dataframe
df_output_1 = df1.copy()  # Copy the original DataFrame
df_output_1['director_scores'] = star_scores  # Add the 'star_scores' column

# Save to csv
print(df_output_1.head())
df_output_1.to_csv('merged_data_mod_star_score.csv', index=False)

   Unnamed: 0 Running Time                               Genres  \
0           0  1 hr 22 min                    Documentary Sport
1           1        8 min                        History Short
2           2  1 hr 49 min  Action Crime Drama Mystery Thriller
3           3  1 hr 30 min                                Drama
4           4  1 hr 46 min          Biography Drama History War

                      IMDB Title   MPAA   Domestic Distributor  \
0           Into the Mind (2013)    NaN                    NaN
1  In Search of Lost Time (2013)    NaN                    NaN
2             Broken City (2013)      R  Twentieth Century Fox
3         Redwood Highway (2013)  PG-13         Monterey Media
4        Bless Me, Ultima (2012)  PG-13   Arenas Entertainment

   Domestic Opening              Earliest Release Date  IMDB Budget  \
0               NaN           January 31, 2014 (Spain)            0
1               NaN   September 30, 2007 (South Korea)            0
2         8268908.0  January 18, 2013 (Domestic, EMEA)     35000000
3              30.0          April 11, 2014 (Domestic)            0
4          470109.0       February 22, 2013 (Domestic)            0

   TMDB Budget  ...                                              order  \
0            0  ...                        [0, 1, 2, 3, 4, 5, 6, 7, 8]
1            0  ...                                                 []
2     56000000  ...  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
3            0  ...                 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4            0  ...         [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

       director_ids IMDB Domestic Revenue international_revenue  \
0  [112813, 590724]                  2241                2241.0
1         [3384263]                    37                  37.0
2           [11448]              19701164            15036035.0
3          [133426]                134049              134049.0
4           [21712]               1561962             1561962.0

  worldwide_revenue Release Year  \
0               NaN         2013
1               NaN         2013
2        34737199.0         2013
3               NaN         2013
4               NaN         2013

                                         star_scores  Merged Budget  \
0      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]         100000
1                                                 []         100000
2  [309.5610869566243, 79.06365252626196, 57.2302...       35000000
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         100000
4  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...         100000

  Merged Revenue       director_scores
0           2241    [0.15687, 0.15687]
1             37             [0.00259]
2       19701164          [1379.08148]
3         134049             [9.38343]
4        1561962  [109.33734000000001]

[5 rows x 31 columns]