In [15]:
import pandas as pd
import ast

df_details = pd.read_csv("../../3. Data Preparation/3.3 Construct Data/merged_data_with_revenues.csv")
print(type(df_details['Release Date'][1]))

for year in range(2013,2024):
    df_bom = pd.read_excel(f"../2.1 Collect Initial Data/Box Office Mojo Domestic Box Office by Year/Domestic Box Office By Year/{year}_top_box_office.xlsx")
    print(df_bom)

<class 'str'>
                               Title       Revenue
0                         Iron Man 3  $409,013,994
1    The Hunger Games: Catching Fire  $395,526,705
2                    Despicable Me 2  $367,793,270
3                       Man of Steel  $291,045,518
4                Monsters University  $268,492,764
..                               ...           ...
195                         The East    $2,301,839
196                           Renoir    $2,293,798
197             The Christmas Candle    $2,252,400
198                         Krrish 3    $2,191,534
199                           Oldboy    $2,190,524

[200 rows x 2 columns]
                                     Title       Revenue
0                  Guardians of the Galaxy  $332,934,626
1    The Hunger Games: Mockingjay - Part 1  $313,282,914
2      Captain America: The Winter Soldier  $259,766,572
3                           The Lego Movie  $257,760,692
4          Transformers: Age of Extinction  $245,439,076
..                                     ...           ...
195                         Under the Skin    $2,614,251
196          The Admiral: Roaring Currents    $2,589,811
197          Dragon Ball Z: Battle of Gods    $2,553,002
198                              Bang Bang    $2,546,172
199                                   Kick    $2,472,695

[200 rows x 2 columns]
                                                 Title       Revenue
0                                       Jurassic World  $652,270,625
1           Star Wars: Episode VII - The Force Awakens  $651,967,269
2                              Avengers: Age of Ultron  $459,005,868
3                                           Inside Out  $356,461,711
4                                            Furious 7  $353,007,020
..                                                 ...           ...
195                                              Truth    $2,515,179
196                                   Mistress America    $2,500,431
197                                     Pawn Sacrifice    $2,436,633
198  The Oscar Nominated Short Films 2015: Live Action    $2,412,593
199                                               Meru    $2,334,228

[200 rows x 2 columns]
                            Title       Revenue
0                    Finding Dory  $486,295,561
1    Rogue One: A Star Wars Story  $408,235,850
2      Captain America: Civil War  $408,084,349
3         The Secret Life of Pets  $368,384,330
4                 The Jungle Book  $364,001,123
..                            ...           ...
195                    Green Room    $3,220,371
196           Our Kind of Traitor    $3,153,157
197                     Compadres    $3,127,773
198                   The Martian    $3,088,310
199    The Other Side of the Door    $3,000,342

[200 rows x 2 columns]
                                                 Title       Revenue
0              Star Wars: Episode VIII - The Last Jedi  $517,218,368
1                                 Beauty and the Beast  $504,014,165
2                                         Wonder Woman  $412,563,408
3                       Guardians of the Galaxy Vol. 2  $389,813,101
4                               Spider-Man: Homecoming  $334,201,140
..                                                 ...           ...
195  Showtime Championship Boxing: Floyd Mayweather...    $2,620,183
196                                A Question of Faith    $2,587,072
197                                Is Genesis History?    $2,570,392
198            Disney's Newsies: The Broadway Musical!    $2,545,060
199                 IN OUR HANDS: Battle for Jerusalem    $2,534,370

[200 rows x 2 columns]
                                    Title       Revenue
0                           Black Panther  $700,059,566
1                  Avengers: Infinity War  $678,815,482
2                           Incredibles 2  $608,581,744
3          Jurassic World: Fallen Kingdom  $417,719,760
4                              Deadpool 2  $318,491,426
..                                    ...           ...
195                   The Disaster Artist    $3,258,821
196  2001: A Space Odyssey2018 Re-release    $3,236,321
197                                   2.0    $3,222,000
198                    The Leisure Seeker    $3,212,298
199                  The Sisters Brothers    $3,143,056

[200 rows x 2 columns]
                        Title       Revenue
0           Avengers: Endgame  $858,373,000
1               The Lion King  $543,638,043
2                 Toy Story 4  $434,038,008
3                   Frozen II  $430,144,682
4              Captain Marvel  $426,829,839
..                        ...           ...
195         Welcome to Marwen    $2,405,625
196     My People, My Country    $2,356,683
197                   Promare    $2,287,950
198                  Super 30    $2,269,878
199  Faustina: Love and Mercy    $2,243,180

[200 rows x 2 columns]
                                             Title       Revenue
0                                Bad Boys for Life  $204,417,855
1                                             1917  $157,901,466
2                               Sonic the Hedgehog  $146,066,470
3                          Jumanji: The Next Level  $124,736,710
4    Star Wars: Episode IX - The Rise of Skywalker  $124,496,308
..                                             ...           ...
195                                      Follow Me      $167,962
196                                 Extra Ordinary      $164,346
197                                   Palm Springs      $164,000
198                                  A Call to Spy      $158,864
199                     Love Story50th Anniversary      $153,504

[200 rows x 2 columns]
                                         Title       Revenue
0                      Spider-Man: No Way Home  $572,984,769
1    Shang-Chi and the Legend of the Ten Rings  $224,543,292
2                  Venom: Let There Be Carnage  $212,609,036
3                                  Black Widow  $183,651,655
4                            F9: The Fast Saga  $173,005,945
..                                         ...           ...
195                                      Ailey      $204,513
196               Groundhog Day2021 Re-release      $200,989
197                                 The Resort      $191,996
198               Kaamelott: First Installment      $188,000
199                       Earwig and the Witch      $173,704

[200 rows x 2 columns]
                                           Title       Revenue
0                              Top Gun: Maverick  $718,318,561
1                 Black Panther: Wakanda Forever  $436,499,646
2    Doctor Strange in the Multiverse of Madness  $411,331,607
3                       Avatar: The Way of Water  $401,007,908
4                        Jurassic World Dominion  $376,851,080
..                                           ...           ...
195                                 King Richard      $408,056
196                                Superspreader      $399,370
197                               The Inspection      $385,627
198                                        Alice      $372,529
199                        Emergency Declaration      $372,123

[200 rows x 2 columns]
                                                 Title       Revenue
0                                               Barbie  $635,171,975
1                          The Super Mario Bros. Movie  $574,934,330
2                  Spider-Man: Across the Spider-Verse  $381,311,319
3                       Guardians of the Galaxy Vol. 3  $358,995,815
4                                          Oppenheimer  $323,715,325
..                                                 ...           ...
195                                            Go West      $340,017
196                                          Terrifier      $339,946
197                                            Selfiee      $335,775
198  Turn Every Page: The Adventures of Robert Caro...      $334,159
199                                           Passages      $328,516

[200 rows x 2 columns]